.header {
  padding-top: var(--size-700);

  &__navigation {
    &.opened {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mobile-toggle {
    display: none;
  }

  &__navigation-list {
    font-size: var(--font-size-nav);
  }
}

@media (max-width: 50em) {
  .header {
    &.opened {
    &::before {
      content: '';
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.85));
    }
    }
  }

  .header {
    &__navigation {
      display: none;

      position: fixed;
      padding: var(--size-700);
      inset: 7rem var(--size-400) auto;
      background: var(--color-neutral-100);
      border-radius: var(--size-100);
      box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    }

    // 42min vidéo nav

    &__navigation-list {
      display: grid;
      gap: var(--size-600);
      text-align: center;
      font-weight: var(--font-weight-bold);

      a {
        text-decoration: none;
        color: var(--color-primary-400);

        &:hover, &:focus {
          color: var(--color-accent-400);
        }
      }
    }

    &__mobile-toggle {
      display: block;
      position: fixed;
      top: var(--size-600);
      right: var(--size-400);
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
    }

    &__icon-close {
      display: none;
    }
  }
}
